<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Hydro Craft</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Teko:wght@400;500;600&display=swap"
        rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border position-relative text-primary" style="width: 6rem; height: 6rem;" role="status">
        </div>
        <img class="position-absolute top-50 start-50 translate-middle" src="img/icons/icon-1.png" alt="Icon">
    </div>
    <!-- Spinner End -->

    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-white navbar-light sticky-top py-lg-0 px-lg-5 wow fadeIn"
        data-wow-delay="0.1s">
        <a href="/" class="navbar-brand ms-4 ms-lg-0">
            <h1 class="text-primary m-0"><img class="me-3" src="img/icons/icon-1.png" alt="Icon">HydroCraft</h1>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="/" class="nav-item nav-link active">Home</a>
            </div>
            <a href="/dashboard" class="btn btn-primary py-2 px-4 d-none d-lg-block">Dashboard</a>
        </div>
    </nav>
    <!-- Navbar End -->


    <!-- Carousel Start -->
    <div class="container-fluid p-0 pb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="owl-carousel header-carousel position-relative">
            <div class="owl-carousel-item position-relative" data-dot="<img src='img/carousel-1.jpg'>">
                <img class="img-fluid" style="height: 800px;" src="img/carousel-1.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-1 text-white animated slideInDown">Empowering Sustainable Energy:
                                    AI-Driven Generative Design for Hydro Power Plants</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Transforming the Future of Hydropower
                                    through Innovative Design Solutions.</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='img/carousel-2.jpg'>">
                <img class="img-fluid" style="height: 800px;" src="img/carousel-2.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-1 text-white animated slideInDown">Revolutionizing Hydro Power:
                                    Unleashing the Future with AI-Infused Generative Design</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Elevate Your Hydropower Projects with
                                    Intelligent Design Solutions for Civil, Hydro-Mechanical, and Electro-Mechanical
                                    Excellence.</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="owl-carousel-item position-relative" data-dot="<img src='img/carousel-3.jpg'>">
                <img class="img-fluid" style="height: 800px;" src="img/carousel-3.jpg" alt="">
                <div class="owl-carousel-inner">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-10 col-lg-8">
                                <h1 class="display-1 text-white animated slideInDown">Hydropower Redefined: Innovate,
                                    Design, Thrive with AI-Enabled Generative Solutions</h1>
                                <p class="fs-5 fw-medium text-white mb-4 pb-3">Transforming Concepts into Engineering
                                    Marvels - Unleashing the Power of AI for Hydro Power Excellenc.</p>
                                <a href="" class="btn btn-primary py-3 px-5 animated slideInLeft">Read More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Carousel End -->


    <!-- Facts Start -->
    <div class="container-xxl py-5">
        <div class="container pt-5">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-2.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">Design Approach</h3>
                        <p class="mb-0">A 3D model for a run-of-river Hydro power plant involves site
                            assessment,potential energy estimation,turbine selection based on flow rate, intake
                            structure,powerhowse design,Transmission system and cost estimation.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-3.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">Innovative Solutions</h3>
                        <p class="mb-0">After observing the flow of the river, taking an input, analyzing it and
                            generate an ai design analyze the area and give an idea which place is suitable for set up
                            the power plant .Give a 3D modeling with an hydro power plant setup.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-4.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">Sustainable Future</h3>
                        <p class="mb-0"> AI based generative design optimizes efficiency,minimizes environmental
                            impact,and ensures ecological balance in hydro power plant by analyzing complex data and
                            considering environmental factors.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->


    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="img/about-1.jpg" alt="">
                        <img class="img-fluid" src="img/about-2.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h1 class="display-5 mb-4">Why Should Use? </h1>
                    <p>AI-based generative design for hydro power plants offers several advantages. It can optimize the
                        design process by quickly exploring a wide range of configurations and parameters, considering
                        factors like topography, water flow, and environmental impact. This efficiency leads to cost
                        savings and faster development.</p>
                    <p class="mb-4">Additionally, AI can adapt to changing conditions and uncertainties, improving the
                        resilience of the design. It can also enhance energy efficiency by fine-tuning the system based
                        on real-time data, ultimately maximizing power output. Overall, AI-driven generative design has
                        the potential to create more sustainable, cost-effective, and adaptive hydro power plants.</p>
                    <div class="d-flex align-items-center mb-5">

                    </div>
                    <div class="ps-4">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- About End -->


    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Our Features</h4>
                <h1 class="display-5 mb-4">Building blocks of innovation, simple solutions for powerful hydro designs.
                </h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-3.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/rain.png" alt="Icon">
                            <h3 class="mb-3">Rainfall Analysis</h3>
                            <p class="mb-4">Analyze the past rainfall data to guide present decisions of hydro power
                                plant.</p>
                            <a class="btn" href="/rainfall-analysis"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-3.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/river.png" alt="Icon">
                            <h3 class="mb-3">River Details</h3>
                            <p class="mb-4">Dive into seamless connectivity with River Details</p>
                            <a class="btn" href="/river-data"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-1.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/location.png" alt="Icon">
                            <h3 class="mb-3">RiverForecast</h3>
                            <p class="mb-4">Forecast rivers with satellite data for precise hydro power plant planning.
                            </p>
                            <a class="btn" href="/river-analysis"><i class="fa fa-plus text-primary me-3"></i>Read
                                More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-4.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-3.png" alt="Icon">
                            <h3 class="mb-3">Metadata Predictive Analysis</h3>
                            <p class="mb-4">Recommend turbine, generator, and transformer types for optimal hydro power.
                            </p>
                            <a class="btn" href="/meta-data"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-5.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/ai.png" alt="Icon">
                            <h3 class="mb-3">2D-AI Image Generation</h3>
                            <p class="mb-4">This tool creates a hydro power plant 2D and AI-generated imaginary images.
                            </p>
                            <a class="btn" href="/2d-gen"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-2.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-6.png" alt="Icon">
                            <h3 class="mb-3"> HydroVision </h3>
                            <p class="mb-4">HydroVision creates intricate 3D models for hydro power plant design.</p>
                            <a class="btn" href="/dashboard"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item d-flex position-relative text-center h-100">
                        <img class="bg-img" src="img/service-6.jpg" alt="">
                        <div class="service-text p-5">
                            <img class="mb-4" src="img/icons/icon-2.png" alt="Icon">
                            <h3 class="mb-3">Guidebook</h3>
                            <p class="mb-4">A comprehensive handbook for easy navigation through the application's
                                features.</p>
                            <a class="btn" href="/dashboard"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Service End -->

    <!-- Feature Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-4">A Creative Architecture Of Hydro Power Plant</h1>
                    <p class="mb-4">AI-driven hydro power plant design process Based on given input parameters such as
                        penstock dimensions and turbines water flow rates.
                    </p>
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-2.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Design Approach</h3>
                                    <p class="mb-0">The generative AI dynamically adapts the plant's layout, optimizing
                                        for efficiency. The penstock, resembling an elegant water pathway, adjusts its
                                        shape based on hydraulic calculations, while turbines with embedded sensors
                                        self-configure to maximize energy output.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-3.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Innovative Solutions</h3>
                                    <p class="mb-0">The entire plant, guided by real-time data, morphs and refines its
                                        architecture, creating an adaptive and efficient structure that seamlessly
                                        integrates with its natural surroundings.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="d-flex align-items-start">
                                <img class="flex-shrink-0" src="img/icons/icon-4.png" alt="Icon">
                                <div class="ms-4">
                                    <h3>Sustainable Future</h3>
                                    <p class="mb-0">AI can analyze vast datasets to design structures that harness
                                        renewable energy effectively, adapt to changing water flow patterns, and
                                        minimize ecological disruption.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="feature-img">
                        <img class="img-fluid" src="img/about-2.jpg" alt="">
                        <img class="img-fluid" src="img/about-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Feature End -->


    <!-- Project Start -->
    <div class="container-xxl project py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Hydro Power Station</h4>
                <h1 class="display-5 mb-4">Types Of Hydro Power Station</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <div class="col-lg-4">
                    <div class="nav nav-pills d-flex justify-content-between w-100 h-100 me-4">
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4 active"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-1" type="button">
                            <h3 class="m-0">01. Run-Of-River</h3>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-2" type="button">
                            <h3 class="m-0">02. Tidal Stream System</h3>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-4"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-3" type="button">
                            <h3 class="m-0">03. Micro Hydro Power</h3>
                        </button>
                        <button class="nav-link w-100 d-flex align-items-center text-start p-4 mb-0"
                            data-bs-toggle="pill" data-bs-target="#tab-pane-4" type="button">
                            <h3 class="m-0">04. Pumped Storage</h3>
                        </button>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content w-100">
                        <div class="tab-pane fade show active" id="tab-pane-1">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/project-1.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="mb-3">About</h1>
                                    <p class="mb-4">A run-of-river hydro power plant generates electricity by harnessing
                                        the natural flow of a river, without the need for a large reservoir. <br>It
                                        typically involves diverting a portion of the river through a canal or pipeline,
                                        passing it through a turbine to generate electricity, and then returning the
                                        water to the river downstream.<br> This design minimizes environmental impact
                                        compared to traditional dams with large reservoirs</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-2">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/project-2.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="mb-3">About</h1>
                                    <p class="mb-4">A tidal stream hydropower system harnesses the kinetic energy of
                                        moving water caused by tidal currents. <br>It typically involves underwater
                                        turbines installed on the seabed in areas with strong tidal flows. <br>As tidal
                                        currents move back and forth, these turbines capture the energy and convert it
                                        into electricity.It's considered an environmentally friendly option as it
                                        produces electricity without greenhouse gas emissions.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-3">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/project-3.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="mb-3">About</h1>
                                    <p class="mb-4">A micro hydro power plant generates electricity from flowing water
                                        on a small scale. <br>It typically involves a turbine connected to a generator,
                                        converting water energy into electrical power. <br>This sustainable energy
                                        source is suitable for remote areas with a consistent water supply.</p>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab-pane-4">
                            <div class="row g-4">
                                <div class="col-md-6" style="min-height: 350px;">
                                    <div class="position-relative h-100">
                                        <img class="position-absolute img-fluid w-100 h-100" src="img/project-4.jpg"
                                            style="object-fit: cover;" alt="">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="mb-3">About</h1>
                                    <p class="mb-4">A pumped hydro power plant is a type of hydropower facility that
                                        stores energy by using two water reservoirs at different elevations. <br>During
                                        periods of low electricity demand, excess power is used to pump water from the
                                        lower reservoir to the upper one. <br>When electricity demand is high, water is
                                        released from the upper reservoir back to the lower reservoir, passing through
                                        turbines to generate electricity. <br>This system acts like a large battery,
                                        providing grid stability and balancing energy supply and demand.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project End -->

    <div class="container-xxl project py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <h4 class="section-title">Hydro Power Station</h4>
                <h1 class="display-5 mb-4">Site Visit</h1>
            </div>
            <div class="row g-4 wow fadeInUp" data-wow-delay="0.3s">
                <img class="col-3" src="img/img1.jpg">
                <img class="col-3" src="img/img2.jpg">
                <img class="col-3" src="img/img3.jpg">
                <img class="col-3" src="img/img4.jpg">
                <img class="col-3" src="img/img5.jpg">
                <img class="col-3" src="img/img6.jpg">
                <img class="col-3" src="img/img7.jpg">
                <img class="col-3" src="img/img8.jpg">
                <img class="col-3" src="img/img9.jpg">
                <img class="col-3" src="img/img10.jpg">
                <img class="col-3" src="img/img11.jpg">
                <img class="col-3" src="img/img12.jpg">
            </div>
        </div>
    </div>
    </div>

    <!-- Footer Start -->
    <div class="container-fluid bg-dark text-body footer mt-5 pt-5 px-0 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">About</h3>
                    <p class="mb-2">Our application will create both 2D and 3D model and structure of Hydro power plant
                        based on getting the ​input from user.</p>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Features</h3>
                    <a class="btn btn-link" href="/river-analysis">RiverForecast</a>
                    <a class="btn btn-link" href="/rainfall-analysis">Rainfall Analysis</a>
                    <a class="btn btn-link" href="">HydroVision</a>
                    <a class="btn btn-link" href="/meta-data">Metadata Predictive Analysis</a>
                    <a class="btn btn-link" href="/2d-gen">2D-AI Image Generation</a>
                </div>
                <div class="col-lg-3 col-md-6">
                    <h3 class="text-light mb-4">Quick Links</h3>
                    <a class="btn btn-link" href="/river-analysis">RiverForecast </a>
                    <a class="btn btn-link" href="/rainfall-analysis">Rainfall Analysis</a>
                    <a class="btn btn-link" href="">HydroVision</a>
                    <a class="btn btn-link" href="/meta-data">Metadata Predictive Analysis</a>
                    <a class="btn btn-link" href="/2d-gen">2D-AI Image Generation</a>
                </div>

            </div>
        </div>
        <div class="container-fluid copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        &copy; <a href="#">Designed and Developed by TECH CREED
                        </a>,During the Smart India Hackathon.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>


    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="lib/wow/wow.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/tempusdominus/js/moment.min.js"></script>
    <script src="lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>